body {
  font-family: 'Space Mono', monospace;
  color: aliceblue;
  background-color: #242526;
}

@media only screen and (max-width: 600px) {
  .App {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 601px) {
  .App {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .message {
    font-size: 13px;
  }

  .FormControl {
    display: inline;
  }
}

header {
  font-size: 20px;
  border-bottom: 2px dashed aliceblue;
  margin-bottom: 20px;
  text-align: center;
}

#demo-simple-select-label {
  color: rgba(228, 219, 233, 0.50);
}